In [52]:
import os
import pandas as pd

In [53]:
df = pd.read_csv('./data/cleaned.csv', sep=';')

In [54]:
list_Nom_formation_total = df.FORMATION_Nom.unique()
list_Nom_formation_ENV = df[
    df.UNITE_DE_VALEUR_COURS_Questions_ENV_au_sens_large_evoquees_oui_non == 'oui'].FORMATION_Nom.unique()
list_Nom_formation_TRANS = df[
    df.UNITE_DE_VALEUR_COURS_Enjeux_transition_energetiqueclimat_abordes_oui_non == 'oui'].FORMATION_Nom.unique()

#print("proportion de formations traitant d'environement",
 #      len(list_Nom_formation_ENV) / len(list_Nom_formation_total), '\n')
#print("proportion de formations traitant de transition",
 #     len(list_Nom_formation_TRANS) / len(list_Nom_formation_total), '\n')

In [55]:
pd.DataFrame({"total":[len(list_Nom_formation_TRANS) / len(list_Nom_formation_total), len(list_Nom_formation_ENV) / len(list_Nom_formation_total)]}, 
             index=['environement', "transition"]).transpose().fillna(0)

       environement  transition
total      0.104414    0.244482

In [56]:
dict_type_fomation_total = dict(df.groupby('ETABLISSEMENT_Type').FORMATION_Nom.unique())
dict_type_formation_ENV = dict(
    df[df.UNITE_DE_VALEUR_COURS_Questions_ENV_au_sens_large_evoquees_oui_non == 'oui'].groupby(
        'ETABLISSEMENT_Type').FORMATION_Nom.unique())
dict_type_formation_TRANS = dict(
    df[df.UNITE_DE_VALEUR_COURS_Enjeux_transition_energetiqueclimat_abordes_oui_non == 'oui'].groupby(
        'ETABLISSEMENT_Type').FORMATION_Nom.unique())

dict_formarion_ratio_ENV = {formation_type: len(list_formation_ENV) / len(list_formation_total) for
                            (formation_type, list_formation_ENV), (formation_type, list_formation_total)
                            in zip(dict_type_formation_ENV.items(), dict_type_fomation_total.items())}
dict_formarion_ratio_TRANS = {formation_type: len(list_formation_TRANS) / len(list_formation_total) for
                            (formation_type, list_formation_TRANS), (formation_type, list_formation_total)
                            in zip(dict_type_formation_TRANS.items(), dict_type_fomation_total.items())}

#print("proportion de formation traitant d'environement par type de formation \n", dict_formarion_ratio_ENV, '\n')
#print("proportion de formation traitant de transition par type de formation \n", dict_formarion_ratio_TRANS, '\n')

In [57]:
pd.DataFrame([dict_formarion_ratio_ENV, dict_formarion_ratio_TRANS
             index=['environement', "transition"]).transpose().fillna(0)

                                                    environement  transition
Autres                                                  0.250000    0.057018
Ecole_commerce                                          0.246154    0.023077
Ecole_dingenieurs                                       0.428571    0.428571
Ecole_formant_des_eleves_fonctionnaires_ingenieurs      0.466667    0.371429
Ecole_formant_des_eleves_fonctionnaires_non_ing...      0.174603    0.079365
Ecole_ingenieurs                                        0.459302    0.302326
Universite                                              0.117021    0.012766

In [60]:
dict_ecole_formation_total = dict(df.groupby('ETABLISSEMENT_Nom').FORMATION_Nom.unique())

dict_ecole_formation_ENV = dict(
    df[df.UNITE_DE_VALEUR_COURS_Questions_ENV_au_sens_large_evoquees_oui_non == 'oui'].groupby(
        'ETABLISSEMENT_Nom').FORMATION_Nom.unique())

dict_ecole_formation_TRANS = dict(
    df[df.UNITE_DE_VALEUR_COURS_Enjeux_transition_energetiqueclimat_abordes_oui_non == 'oui'].groupby(
        'ETABLISSEMENT_Nom').FORMATION_Nom.unique())

dict_ecole_ratio_ENV = {ecole: len(list_formation_ENV) / len(list_formation_total) for
                        (ecole, list_formation_ENV), (ecole, list_formation_total)
                        in zip(dict_ecole_formation_ENV.items(), dict_ecole_formation_total.items())}

dict_ecole_ratio_TRANS = {ecole: len(list_formation_TRANS) / len(list_formation_total) for
                          (ecole, list_formation_TRANS), (ecole, list_formation_total)
                          in zip(dict_ecole_formation_TRANS.items(), dict_ecole_formation_total.items())}

#print("proportion de formation traitant d'environement par ecole de formation \n", dict_ecole_ratio_ENV, '\n')
#print("proportion de formation traitant de transition par ecole de formation \n", dict_ecole_ratio_TRANS, '\n')

In [61]:
pd.DataFrame([dict_ecole_ratio_ENV, dict_ecole_ratio_TRANS], 
             index=['environement', "transition"]).transpose().fillna(0)

                                                    environement  transition
AgroParisTech                                           0.823529    0.529412
CELSA                                                   0.192308    0.846154
Centrale_Nantes                                         0.972973    0.054054
Centrale_Supelec                                        0.600000    0.200000
EDHEC                                                   0.100000    0.033333
ENSAE                                                   0.142857    0.857143
ESCP_Europe                                             0.375000    0.125000
ESJ_Lille                                               0.285714    0.571429
ESPCI_Paris                                             0.428571    0.142857
ESSEC                                                   0.370370    0.037037
Ecole_Nationale_dAdministration_ENA                     0.163636    0.072727
Ecole_Nationale_des_Travaux_Publics_de_lEtat_ENTPE      0.375000    0.750000
Ecole_de_Management_de_Lyon                             0.461538    1.000000
Grenoble_Ecole_de_Management                            0.152174    0.478261
IRA_BASTIA                                              1.000000    9.000000
ISAESupaero                                             0.185185    0.111111
Mines_Nancy                                             0.303030    0.272727
Mines_de_Paris                                          0.419355    0.064516
Polytechnique                                           0.396552    0.103448
Ponts_ParisTech                                         0.333333    0.000000
Sciences_Po_Strasbourg                                  0.370370    0.000000
Universite_ParisDauphine                                0.238095    0.000000
Universite_Technologique_de_Compiegne                   0.363636    0.000000
Universite_de_Strasbourg                                0.117021    0.000000